/* CSS pour la jauge */
.progress-bar {
  width: 100%; /* Vous pouvez ajuster la largeur de la jauge selon vos préférences */
  height: 15px;
  border: 3px solid #afafce;
  border-radius: 5px; /* Vous pouvez ajuster le rayon du bord de la jauge selon vos préférences */
  overflow: hidden; /* Pour cacher le débordement du contenu à l'intérieur de la jauge */
  padding: 0; 
}

/* CSS pour le remplissage de la jauge */
.progress-bar .fill {
  width: 0%;
  height: 80%;
  background-color: #6DC5A6;
  padding: 0; 
}
