/* /////////////// -------------- Unrealistic is a multisale skin made by Ana Codes for the RPG community -------------- /////////////// */

/* - Generic - */
#unreal-01, #unreal-02 { background-attachment: fixed; background-image: url(https://i.imgur.com/akR85gL.png); border: 10px solid var(--box-2); border-radius: 20px; margin: 30px auto; outline: var(--border); overflow: hidden; width: 450px; }
#unreal-cir { background: var(--my-gdt-1); border-radius: 100%; width: 720px; height: 400px; margin-top: -100px; margin-left: -150px; }
.unreal-ca1 { border-bottom: var(--border); border-radius: 10px 10px 0 0; display: flex; flex-wrap: wrap; height: 70px; margin-left: 150px; margin-top: 100px; overflow: hidden; position: absolute; width: 450px; }
.unreal-ca1 m, .unreal-ca1 n { color: var(--box-1); display: block; line-height: 1!important; text-transform: uppercase; width: 328px; }
.unreal-ca1 m { font: 700 25px var(--t1); padding: 12px 20px 0; }
.unreal-ca1 n { -webkit-text-stroke: 0.3px var(--box-1); color: transparent; font-size: 22px; }
.unreal-ca1 icon { background: var(--box-3); color: var(--color-1); border-radius: 0 0 0 60px; width: 80px; height: 70px; display: flex; justify-content: center; font-size: 27px; border: var(--border); }
.unreal-ca1 icon span { margin-top: 18px; margin-left: 10px; }
.unreal-rtxt, .unreal-txt { background: var(--box-3); border: var(--border); border-radius: 15px; margin: -205px auto 30px; padding: 15px; width: 370px; }
.unreal-txt z { display: block; font: 800 12px var(--t2); color: var(--color-1); border-bottom: var(--border); padding-bottom: 3px; margin-bottom: 3px; }

/* - Register - */
div#unreal-02, .unreal-regis { display: flex; flex-wrap: wrap; } .unreal-regis { padding: 0 10px; }
.unreal-regis br { display: none; }
.unreal-rtxt.topi { margin-top: -210px!important; }
.unreal-rtxt { flex-grow: 1; margin: 0 10px 20px; width: 157px!important; }
.unreal-regis .unreal-txt m, .unreal-rtxt m { display: block; text-align: center; font: 800 17px var(--t1); letter-spacing: 1.4px; color: var(--color-1); text-transform: uppercase; border-bottom: var(--border); margin-bottom: 15px; }
.unreal-regis .unreal-txt texto, .unreal-rtxt texto { display: block; overflow: auto; height: 250px; padding-right: 3px; }
.unreal-regis strong, .unreal-regis i { color: var(--color-3); font: 700 10px var(--t1); }
.unreal-regis strong { text-transform: uppercase; }
.unreal-regis i { font-weight: 600; font-style: italic; }
.unreal-rtxt br, .unreal-txt br { display: block!important; }
.unreal-regis .unreal-important { margin-top: 30px; }

/* - Mini note - */
.unreal-important { background: var(--box-2); border: var(--border); border-radius: 20px; margin: 15px 30px 30px; padding: 20px; }
.unreal-important span { align-items: center; color: var(--box-1); display: flex; font-size: 22px; height: 30px; justify-content: center; outline-offset: 4px; text-align: center; width: 30px; background: var(--my-gdt-1); border-radius: 100%; margin: -40px auto 15px; outline: var(--border); padding: 10px; }
.unreal-important desc { background: var(--ac-main); border: var(--border); border-radius: 10px; display: block; margin: 0 10px 10px; padding: 10px; }
.unreal-important txt { display: block; height: 85px; overflow: auto; padding-right: 3px; }

/* - Mov admin - */
div#unreal-02 { width: 500px!important; }
#unreal-admI { background: var(--my-gdt-1); border-radius: 0 100% 100% 0; height: 120px; padding: 20px; width: 120px; display: flex; align-items: center; justify-content: center; }
#unreal-admII { background: var(--icon); height: 110px; width: 110px; border-radius: 100%; display: flex; align-items: center; justify-content: center; }
#unreal-admII i { color: var(--color-3); font-size: 32px; background: var(--box-2); border: var(--border); display: block; padding: 22px; border-radius: 100%; }
#unreal-admIII { display: flex; flex-wrap: wrap; align-items: center; align-content: center; margin: 20px; width: 300px; }
#unreal-admIII m { display: block; background: var(--my-gdt-2); font: 900 22px var(--t1); line-height: 1!important; text-align: center; -webkit-background-clip: text!important; -webkit-text-fill-color: transparent!important; margin-bottom: 15px; text-transform: uppercase; width: 100%; }
#unreal-admIII .unreal-txt { margin: 0!important; width: auto!important; }
#unreal-admIII .unreal-txt texto { display: block; height: 34px; overflow: auto; padding-right: 3px; }

/* ///////////////////////// ACCENTS = EDITABLE ZONE ///////////////////////// */

:root {
    --wsize: 1090px;
/* - Images - */
    --un-header: url(https://via.placeholder.com/1110x350.png); /* Header */
    --un-tb1: url(https://via.placeholder.com/100x109); /* Search 1 */
    --un-tb2: url(https://via.placeholder.com/100x109); /* Search 2 */
    --un-tb3: url(https://via.placeholder.com/100x109); /* Search 3 */
    --un-ts1: url(https://via.placeholder.com/99x50); /* Staff 1 */
    --un-ts2: url(https://via.placeholder.com/99x50); /* Staff 2 */
    --un-ts3: url(https://via.placeholder.com/99x50); /* Staff 3 */
    --un-crimg: url(https://via.placeholder.com/125.png); /* Credits */
/* Background palette */
    --ac-main: #1e1e1e;
    --ac-tr: #343434d6;
    --border: 1px solid #444444;
    --box-1: #fff;
    --box-2: #2c2c2c;
    --box-3: #242424;
    --icont-4: #ffffff9c;
    --text: #cfcfcf;
    --text2: #444;
/* Color palette */
    --color-1: #699d9e;
    --color-2: #b46283;
    --color-3: #d15b8a9c;
    --color-4: #3d7b7c61;
    --icon: #bfbfbf29;
    --my-gdt-1: linear-gradient(45deg,var(--color-4),var(--color-3));
    --my-gdt-2: linear-gradient(45deg,var(--color-3),var(--color-4));
/* Fonts + dark mode */
    --t1: Poppins;
    --t2: Roboto;
} 

/*dark mode*/

[data-theme="dark"]{
/*ici vous devez rentrer tout vode codes de couleur, mais vraiment pour TOUT, pour le dark mode (donc les équivalents du premier root mais dans les couleurs qui vont changer en activant le toggle*/
    --ac-main: #fff; /*ça c'est un exemple pou un fond blanc qui doit devenir noir en activant le toggle*/
/* Background palette */
    --ac-main: #fcfcfc;
    --ac-tr: #343434d6;
    --border: 1px solid #444444;
    --box-1: #fff;
    --box-2: #2c2c2c;
    --box-3: #fff;
    --icont-4: #ffffff9c;
    --text: #cfcfcf;
    --text2: #444;
/* Color palette */
    --color-1: #699d9e;
    --color-2: #b46283;
    --color-3: #d15b8a9c;
    --color-4: #3d7b7c61;
    --icon: #bfbfbf29;
    --my-gdt-1: linear-gradient(45deg,var(--color-4),var(--color-3));
    --my-gdt-2: linear-gradient(45deg,var(--color-3),var(--color-4));
}


/*toggle*/
.theme-switch-wrapper {
    display: inline-block;
    align-items: center;
    position: fixed;
    z-index: 99;
    right: 0;}

.theme-switch-wrapper em {
    font-size: 1rem;
          text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.6;}
.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: var(--blanc);
  bottom: 4px;
  content: "";
  height: 12px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 12px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/*fin dark mode*/

/* Groups icons */
.ac-stadis-3 a:nth-child(1):before { content: "\f76d"; font-family: bootstrap-icons; } /* Name group 1 */
.ac-stadis-3 a:nth-child(2):before { content: "\f76d"; font-family: bootstrap-icons; } /* Name group 2 */
.ac-stadis-3 a:nth-child(3):before { content: "\f76d"; font-family: bootstrap-icons; } /* Name group 3 */
.ac-stadis-3 a:nth-child(4):before { content: "\f76d"; font-family: bootstrap-icons; } /* Name group 4 */
.ac-stadis-3 a:nth-child(5):before { content: "\f76d"; font-family: bootstrap-icons; } /* Name group 5 */
.ac-stadis-3 a:nth-child(6):before { content: "\f76d"; font-family: bootstrap-icons; } /* Name group 6 */
.ac-stadis-3 a:nth-child(7):before { content: "\f76d"; font-family: bootstrap-icons; } /* Name group 7 */
.ac-stadis-3 a:nth-child(8):before { content: "\f76d"; font-family: bootstrap-icons; } /* Name group 8 */

/* ///////////////////////////////////// ESTRUCTURA DEL FORO COMPLETO - LA APARIENCIA BÁSICA ///////////////////////////////////// */
  
/* --- FONDO DEL FORO --- */
body { background-attachment: fixed; background-image: url(https://i.imgur.com/akR85gL.png); color: var(--text); text-align: justify; margin: 0!important; padding: 0!important; }
/* --- FORMA DEL FORO --- */
#wrap { background: var(--ac-main); border: var(--border); padding: 10px; max-width: var(--wsize); min-width: var(--wsize); width: var(--wsize); }
.conteneur_layout_IE { overflow: hidden; border: 20px solid var(--ac-main); box-shadow: 0 0 5px #cecece!important; margin: 40px auto 0!important; width: calc(22px + var(--wsize)); }

/* ////////////////////////////////////////////// MENU PERSONALIZADO ////////////////////////////////////////////// */

/* --- BARRA DE NAVEGACION --- */
.anc-navegacion { background: var(--box-3); border: var(--border); height: 62px; margin: -11px -11px 0; padding: 5px 0; position: relative; overflow: hidden; }
/* - Avatar - */
.anc-navegacion usavatar { background: var(--my-gdt-2); padding: 30px 30px 30px 15px; }
.anc-navegacion usavatar img { background: var(--box-1); border-radius: 100%; object-fit: cover; padding: 10px; height: 70px; width: 70px; }
.unreal-psen encabezado usavatar, .anc-navegacion usavatar { border-radius: 0 100px 100px 0; }
/* - Nombre - */
.anc-navegacion usname { font: 800 12px / 1em var(--t1); letter-spacing: 1px; text-transform: uppercase; margin: 0 10px; width: 300px; z-index: 1; }
.anc-navegacion usname, .anc-navegacion usname a { color: var(--color-2); } 
.anc-navegacion usname strong { border-radius: 10px; color: var(--text); font: 800 10px / 1.5em var(--t2); letter-spacing: 2px; width: 100%; }
/* Centrado  */
.anc-navegacion fname { color: var(--icon); font-size: 135px; height: 72px; overflow: hidden; text-transform: uppercase; }
.anc-navegacion fname name { font: 800 40px var(--t1); color: var(--color-1); letter-spacing: 2px; }
.anc-navegacion fname name n { font: 600 9px / 1em var(--t1); color: var(--color-2); background: var(--box-1); padding: 2px 5px; border-radius: 10px; letter-spacing: 3px; }
/* - Botones - */
.anc-navegacion linkear { right: 12px; text-align: center; z-index: 1; }
.anc-navegacion linkear a { background: var(--my-gdt-1); border: var(--border); color: var(--box-1); font-size: 0; margin-left: 12px; padding: 10px; width: 20px; height: 20px; }
.anc-navegacion linkear a:before { display: block; font: normal normal normal 16px/1 FontAwesome; }
a.mainmenu[href^="/"]:before { content: "\f015"; }
a.mainmenu[href^="/memberlist"]:before { content: "\f0c0"; }
a.mainmenu[href^="/groups"]:before { content: "\eb03"; font-family: cappuccicons!important;} 
a.mainmenu[href^="/profile?mode=editprofile"]:before {content: "\f013";} 
a.mainmenu[href^="/privmsg?folder=inbox"]:before {content: "\f0e0";} .newmp a.mainmenu[href*="/privmsg"] { color: var(--color-2); }
a.mainmenu[href^="/login?logout=1"]:before { content: "\f5d7"!important; }
a.mainmenu[href^="/login"]:before { content: "\f5d8"; font-family: bootstrap-icons!important; }
a.mainmenu[href^="/register"]:before {content: "\f067";}

/* /////////////////////////////////////// ESTRUCTURA DEL HEADER /////////////////////////////////////// */

/* -- Ancho el header y navegacion -- */
.anc-navegacion, .anc-navegacion fname, .ac-header { width: calc(20px + var(--wsize)); }

/* - Imagen del encabezado - */
.ac-header { background-image: var(--un-header); background-size: cover; height: 350px; margin-left: -10px; outline: var(--border); }

/* - Tablon de anuncios - */
.anc_tablon { height: 218px; margin-left: -10px; margin-top: 1px; outline: var(--border); padding: 15px; overflow: hidden; width: calc(-10px + var(--wsize)); }
.t-1, .t-2 { flex-grow: 1; height: 218px; overflow: hidden; }
/* -- Ultimos temas -- */
.temitasA { flex-grow: 1; border: var(--border); padding: 10px; padding-right: 0; width: 190px; }
.modtemas { height: 196px; overflow: auto; } .actpb:last-child { margin-bottom: 0; }
.actpb { background: var(--box-2); border: var(--border); border-radius: 5px; margin-bottom: 10px; padding: 15px 0; text-transform: uppercase; text-align: center; overflow: hidden; }
a.actpbt { background: var(--my-gdt-1); font: 800 10px / 1.2em var(--t1); letter-spacing: .5px; padding: 0 8px 4px; text-overflow: ellipsis; text-align: center; overflow: hidden; white-space: nowrap; max-width: 200px; }
.actpba { text-transform: lowercase; font: 10px / 1.2em calibri; padding: 0 12px; }
/* -- Personaje destacado y busquedas -- */
.t-1 { margin: 0 15px; width: 342px; }
/* - Pj. destacado - */
.acpjd { border: var(--border); height: 71px; margin-bottom: 10px; padding: 10px; position: relative; overflow: hidden; width: 100%; }
.r-usname { color: var(--color-1); font: 800 16px var(--t1); letter-spacing: 1px; text-transform: uppercase; margin-right: 15px; flex-grow: 1; position: relative; width: 233px; }
.acpjdt { opacity: 0; text-align: center; transition: 800ms; right: 30px; } .acpjd:hover .acpjdt { right: 0; transition: 800ms; }
.acpjdt > a { color: var(--color-2); font-size: 15px; margin: 0 6px; text-decoration: none; }
.acpjd datos { border-top: var(--border); color: var(--text); font: 400 9px var(--t2); padding: 3px 2px; width: 100%; }
.acpjd img { background: var(--box-2); border: var(--border); border-radius: 100%; height: 60px; padding: 5px; width: 60px; }
/* - Busquedas - */
.acbsq { background-size: cover; border: 3px solid var(--box-2); height: 108px; margin-left: 1px; margin-right: 10px; outline: var(--border); overflow: hidden; flex-grow: 1; position: relative; width: 100px; }
.acbsqi { bottom: -27px; transition: 800ms; text-align: center; overflow: hidden; flex-grow: 1; width: 100%; }
.acbsqi a { background: var(--my-gdt-1); padding: 7px 5px; font: 700 8px / 1 var(--t1); text-transform: uppercase; letter-spacing: .5px; color: var(--box-1); margin: 0 15px; width: 100%; display: flex; align-items: center; justify-content: center; }
.acbsqi span { background: var(--my-gdt-1); border-radius: 100%; color: var(--box-1); display: block; margin-top: 10px; padding: 8px; }
.acbsq:hover .acbsqi { bottom: 8px; transition: 800ms; }
/* -- Tiempo, staff, anuncios y trama  -- */
.t-2 { width: 506px; }
/* - Tiempo actual - */
.t-2 clima span, .t-2 temp { height: 60px; text-align: center; width: 71px; }
.t-2 clima { border: var(--border); width: 142px; height: 101px; }
.t-2 temp { background: var(--my-gdt-1); color: var(--box-1); font: 800 18px var(--t2); }
.t-2 estc { font-size: 9px; font-weight: 400; letter-spacing: 3px; text-transform: uppercase; width: 100%; }
.t-2 clima span { color: var(--color-2); font-size: 35px; }
.t-2 month { background: var(--box-2); color: var(--color-2); font: 700 12px var(--t1); border-top: var(--border); letter-spacing: 1px; padding: 5px; text-align: center; text-transform: uppercase; height: 30px; width: 100%; }
/* - Staff - */
.staff { width: 347px; margin-left: 15px; }
.stf { background-size: cover; border: 4px solid var(--box-2); height: 50px; margin: 1px 10px 1px 1px; outline: var(--border); }
.stfi { background: var(--my-gdt-2); height: 50px; opacity: 0; text-align: center; transition: 800ms; }
.stf, .stfi { width: 99px; }
.stfi a { font: 700 10px / 1 var(--t1); color: var(--box-1); width: 100%; }
.stfi rank { font: 700 7px var(--t2); color: var(--box-1); letter-spacing: 2px; text-transform: uppercase; }
.staff staff { padding: 5px 2px; font-family: var(--t1); text-transform: uppercase; }
.staff staff m { color: var(--color-1); font-weight: 800; font-style: italic; font-size: 14px; letter-spacing: 1px; margin-right: 10px; }
.staff staff n { font-size: 12px; font-weight: 400; letter-spacing: .6px; line-height: 100%; }
/* - Anuncios - */
.acann { margin: 10px 0; border-radius: 30px; background: var(--my-gdt-2); color: var(--box-1); font: 400 italic 10px / 1 var(--t2); height: 23px; padding: 10px; text-align: center; width: 100%; z-index: 1; }
/* - Trama - */
.t-2 trama { height: 52px; overflow: hidden; flex-grow: 1; }
.t-2 trama span { font-size: 64px; color: var(--icon); padding-left: 7px; transform: rotate(-5deg); margin-top: -2px; overflow: hidden; }
.t-2 trama box { text-align: right; justify-content: flex-end; flex-grow: 1; width: 435px; }
.t-2 trama m { color: var(--color-1); font: 800 25px / 1 var(--t1); text-transform: uppercase; }
.t-2 trama a { color: var(--text); font: 400 12px / 1 var(--t1); width: inherit; }

/* -- Links rapidos -- */
.ac-fheader { background: var(--box-3); margin-left: -10px; margin-top: 1px; outline: var(--border); padding: 15px; width: calc(-10px + var(--wsize)); }
.ac-fheader a { background: var(--my-gdt-2); border: var(--border); border-radius: 100%; color: var(--box-1); font-size: 15px; height: 20px; margin: 0 26px; padding: 10px; transition: 500ms; width: 20px; }
.ac-fheader a:hover { background: var(--color-1); color: var(--box-1); transition: 500ms; }

/* ////////////////////////////////////////// CATEGORIAS ////////////////////////////////////////// */

/* --- Cuerpo de las categorias --- */
.forabg { background: var(--box-3); border: var(--border); margin-bottom: 10px; overflow: hidden; }
ul.topiclist.forums { align-content: stretch; flex-grow: 1; margin: 20px 5px 5px 20px!important; }
/* - Titulo de las categorias - */
li.header { background: var(--my-gdt-1); border-bottom: var(--border); text-align: center; overflow: hidden; position: relative; width: 100%; }
.aibhdt { text-transform: uppercase; font-weight: 800!important; padding: 25px; } .aibhdt h2 { position: relative; }
.aibhdt m h2 { -webkit-background-clip: text; -webkit-text-fill-color: var(--box-1); font: 700 60px var(--t1); margin: 0; z-index: 2; }
.aibhdt n h2{ font: 700 60px var(--t1); z-index: 3; color: transparent; -webkit-text-stroke: 1px var(--color-4); margin: -90px 0 0 8px; }
li.header i { font-size: 120px; color: var(--icont-4); right: 72px; }

/* -- Apariencia estandar de los subforos -- */
li.row { align-content: stretch; border: var(--border); flex: 1; margin: 0 15px 15px 0 !important; min-width: 248px; min-height: 360px; overflow: hidden; width: auto; }
.asfdsc { display: contents; }
/* - Nombre de los foros - */
a.forumtitle { font: 700 18px / 1em var(--t1); color: var(--color-2); text-align: center; text-decoration: none!important; text-transform: uppercase; letter-spacing: .5px; min-height: 78px; padding: 0 15px; z-index: 1; }
/* - Descripcion - */
.a-imgR { border-width: 12px!important; height: 170px; width: 100%; }
/* - Ultimo posteador - */
.asfup { font: 9px / 1.5 calibri; text-transform: uppercase; letter-spacing: .5px; text-align: center; border-top: var(--border); padding: 10px 5px; }
/* - Avatar - */
.avt1 { margin-top: -200px; height: fit-content; position: relative; }
.avt2 { background: var(--my-gdt-1); border-radius: 100%; padding: 8px; }
.avt1 img { background: var(--box-1); border-radius: 100%; border: var(--border); object-fit: cover; padding: 2px; width: 64px; height: 64px; }
/* - Contador - */
.asfct1 { background: var(--my-gdt-2); letter-spacing: 1px; font: 700 8px var(--t1); color: var(--box-1); text-transform: uppercase; padding: 5px; }
.asfct1 > div { margin: 0 5px; } .asfct1 b { margin-right: 2px; }

/* ///////////////////////////////////////////// FIN DE LAS CATEGORIAS //////////////////////////////////////////////// */

/* ///////////////////////////////////////////// INICIO DE AF. FOOTER //////////////////////////////////////////////// */
 
.unreal-footer2 { border-top: 10px solid var(--color-2); height: 270px; padding-top: 20px; overflow: hidden; }
.unreal-footer2 img { outline: var(--border); border: solid var(--ac-main); object-fit: cover; }
.unreal-footer-sister { width: 373px; }
.unreal-footer-sister img { border-width: 5px; height: 120px; margin: 3px; width: 170px; }
.unreal-footer-todo { width: 592px; margin: 0 20px; height: 270px; flex-grow: 1; }
.unreal-footer-thing { border-left: 8px solid var(--color-2); padding: 5px 15px; text-align: right; text-transform: uppercase; justify-content: end; margin-bottom: 15px; }
.unreal-footer-thing texto { margin-right: 15px; width: 87%; line-height: 1; }
.unreal-footer-thing n { color: var(--color-1); border-bottom: var(--border); font: 900 20px var(--t1); letter-spacing: 1px; padding-bottom: 4px; width: 100%; }
.unreal-footer-thing m { font-style: italic; padding-top: 5px; letter-spacing: 3px; }
.unreal-footer-thing span { background: var(--my-gdt-1); font-size: 50px; margin-bottom: 5px; padding-left: 5px; }
.unreal-footer-elite { border-top: var(--border); padding-top: 20px; }
.unreal-footer-elite img { border-width: 4px; margin: 0 5px 12px 6px; height: 40px; width: 40px; }
.unreal-footer-direct { width: 84px; }
.unreal-footer-direct img { width: 70px; height: 70px; border-width: 6px; margin: 1px 1px 10px; }

/* ///////////////////////////////////////////// FIN DE LOS AF. FOOTER //////////////////////////////////////////////// */

/* ///////////////////////////////////// LISTADO DE TEMAS ///////////////////////////////////// */

/* - Divisiones - */
.unreal-cate .forumbg { margin-top: 10px; }
.unreal-cate .forumbg li.header i { font-size: 95px; }
.unreal-cate .forumbg li.header h2 { font-size: 25px!important; }
.unreal-cate .forumbg .aibhdt n h2 { margin: -36px 0 0 6px; }
/* - Nav -*/
.unr-nave { border: var(--border); margin-top: -1px; }
.unr-nave i { background: var(--my-gdt-1); color: var(--box-1); padding: 10px; font-size: 12px; }
.unr-nav { padding-left: 14px; letter-spacing: .5px; text-align: right; text-transform: uppercase; flex-grow: 1; width: 95.5%; }
.unr-nav a { color: var(--color-1); font: 700 10px var(--t1); margin-right: 10px; }
.unr-nav a:before { color: var(--color-2); content: '\F285'; font: 7px 'bootstrap-icons'; margin-right: 5px; }

/* - Listado de temas - */
.unreal-cate .forumbg li.listop.header i { overflow: hidden; height: 64px; }
.unreal-cate ul.topiclist li { height: auto!important; min-height: auto!important; margin: -1px 0 0!important; padding: 12px; position: relative; }
.unr-tpicon { background-position: center; background-repeat: no-repeat; border-right: var(--border); height: 75px; padding-right: 20px; width: 50px; }
.unr-listopic-middle { position: relative; margin: 0 20px; flex-grow: 1; width: 876px; }
.unr-listopic-topic { font: 12px var(--t1); text-transform: uppercase; height: 18px; }
.unr-listopic-topic strong { margin-right: 5px; }
.unr-listopic-topic a { color: var(--color-1); font-weight: 600; letter-spacing: 1px; position: absolute; text-align: justify; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 650px; }
.unr-pagination { right: -2px; top: -3px; min-width: 161px; }
.unr-listopic-info { border-top: var(--border); font: 500 9px var(--t1); letter-spacing: .3px; text-transform: uppercase; }
.unr-listopic-info > div { flex-grow: 1; margin-top: 4px; padding: 5px 0; width: 291px; }
.unr-listopic-info > div:nth-child(1) { text-align: left; }
.unr-listopic-info > div:nth-child(2) { border-left: var(--border); border-right: var(--border); color: var(--color-2); font-weight: 700; text-align: center; }
.pagination, .unr-listopic-info > div:nth-child(3) { text-align: right; }
.unreal-cate ul.topiclist dfn { color: var(--text); display: inline!important; font-style: normal!important; font-weight: 400!important; }
.unr-listopic-info n { color: var(--color-1); font-weight: 300; font-style: italic; margin: 0 10px; }
.unr-lastpost-avatar img, .unr-lastpost-avatar { border-radius: 100%; object-fit: cover; width: 65px; height: 65px; }
.unr-lastpost-avatar { outline: var(--border); border: 5px solid var(--ac-main); }

/* - Leyendas - */
.unreal-viewforum { margin: 12px 1px 14px; outline: var(--border); }
.unreal-viewforum .h3 { border: 0; border-bottom: var(--border); font-size: 11px; padding: 10px!important; text-align: center; width: auto; }
.unreal-viewforum .h3 strong { font-weight: 900; }
.unreal-viewforum div { width: 543.5px; overflow: hidden; }
.unreal-viewforum m, .unreal-viewforum m n a { font: 10px var(--t1); height: 50px; letter-spacing: .5px; padding: 10px; text-align: center; text-transform: uppercase; }
.unr-nav, .unreal-viewforum m n { font-size: 0; }
.unreal-viewforum ulti { border-top: var(--border); padding: 10px; text-align: center; text-transform: uppercase; width: 100%; }
.unreal-viewforum ulti a { outline: var(--border); padding: 5px 0; color: var(--color-1); font: 700 10px var(--t1); letter-spacing: .5px; flex-grow: 1; width: 528px; }
.unreal-viewforum ulti a:hover { background: var(--box-2); }
.unreal-viewforum m n { line-height: 1!important; display: flex; flex-wrap: wrap; justify-content: center; }
.unreal-viewforum m n:nth-child(1) a { padding: 3px; height: auto; } 

/* ///////////////////////////////////// FIN DEL LISTADO DE TEMAS ///////////////////////////////////// */

/* ///////////////////////////////////// TEMAS ///////////////////////////////////// */

/* -- Encabezado del post -- */
.unreal-postenca { text-shadow: 1px 0px 0px #383838; background: var(--my-gdt-1); border: var(--border); height: 115px; margin-bottom: -1px; padding: 20px 0 20px 20px; }
.unreal-postenca titulo { border-bottom: var(--border); border-color: var(--box-1); font: 600 16px var(--t1); letter-spacing: -.5px; width: 100%; }
.unreal-postenca titulo a { color: var(--box-1); }
.unreal-postenca autor { color: var(--box-1); font: 600 7px / 2.5em var(--t1); letter-spacing: 2px; text-transform: uppercase; }
/* - Icono - */
.unreal-post1con { border: 5px solid var(--box-1); border-radius: 100%; margin: 0 30px; padding: 6px; }
.unreal-post2con { border: var(--border); padding: 6px; border-color: var(--box-1); }
.unreal-psen encabezado usavatar .field_uneditable img, .unreal-post2con, .unreal-post2con img { width: 100px; height: 100px; border-radius: 100%; object-fit: cover; }

/* -- Mensaje de posteo -- */
.postbody { line-height: 1.48em; width: 725px; flex-grow: 1; }
.unreal-post .inner { border: var(--border); flex-direction: row-reverse; margin-top: -1px; }
.postbody .content { font-size: 12px; padding: 15px; }
/* - Barra de herramientas - */
.unreal-postsubenca { background: var(--box-2); border-bottom: var(--border); height: 40px; justify-content: end; padding: 0 6px; }
.unreal-postsubenca ul.profile-icons { margin: 0!important; }
.unreal-postsubenca ul.profile-icons li nani { background: var(--box-3); border: var(--border); padding: 5px 20px; font: 900 8px var(--t2); letter-spacing: .5px; text-transform: uppercase; }
ul.profile-icons li span { display: inline; color: var(--color-1); margin-right: 3px; }

/* -- Caja de perfil -- */
.postprofile { background: var(--box-2); border-left: 0; border-right: 10px solid var(--color-1); margin: 0; text-align: center; width: 250px; flex-grow: 1; }
.postprofile-magic { -moz-transition: ease .3s; -webkit-transition: ease .3s; background: var(--ac-tr); top: 116px; left: 50px; opacity: 0; position: absolute; transition: ease .3s; }
.postprofile-back1 { background: var(--ac-main); border: var(--border); height: 298px; position: absolute; width: 178px; z-index: 1; transition: ease .3s; -webkit-transition: ease .3s; -moz-transition: ease .3s; transition-delay: .3s; margin: 10px 124px 10px -124px; opacity: 0; }
.postprofile-bck2 { background: var(--my-gdt-1); box-sizing: border-box; height: 260px; position: relative; overflow: hidden; top: 230px; width: 276px; }

/* - Avatar - */
.postprofile-avatar { background: var(--box-3); border-bottom: var(--border); height: 420px; }
.postprofile-avatar img, .postprofile-magic { height: 320px; width: 200px; object-fit: cover; overflow: hidden; }
.postprofile-avatar img { padding: 15px; border: var(--border); }
/* - Nombre del usuario - */
.postprofile-username { border-bottom: var(--border); font: 17px var(--t1); letter-spacing: .5px; min-height: 65px; text-transform: uppercase; text-align: center; }
.postprofile-username strong { font-weight: 800; }
/* - Rango - */
.postprofile-rank { background: var(--my-gdt-2); color: var(--box-1); font: 600 8px var(--t1); letter-spacing: 5px; padding: 12px 10px; text-transform: uppercase; }

/* - Hover - */
.postprofile .postprofile-magic:hover { transition: ease 0.3s; -webkit-transition: ease 0.3s; -moz-transition: ease 0.3s; }
.postprofile-magic:hover .postprofile-back1 { transition: ease 0.4s; -webkit-transition: ease 0.4s; -moz-transition: ease 0.4s; transition-delay: 0.4s; margin: 10px; }

/* -- Campos del perfil -- */
.postprofile-back1 .profile_field:nth-child(3), .postprofile-back1 .profile_field:nth-child(7) { margin-right: 10px; }
/* - Miniatura dentro del hover - */
.postprofile-back1 .profile_field:nth-child(1) img { object-fit: cover; outline: var(--border); padding: 10px; height: 90px; width: 158px; }
/* - Campos de numeros - */
.postprofile-back1 .profile_field:nth-child(3) .postprofile-field-label, .postprofile-back1 .profile_field:nth-child(4) .postprofile-field-label { display: none!important; }
.postprofile-back1 .profile_field:nth-child(3), .postprofile-back1 .profile_field:nth-child(4) { display: flex; align-items: center; justify-content: center; text-align: center; margin-top: 10px; border: var(--border); height: 50px; width: 74px; box-sizing: border-box; font: 700 15px / 1 var(--t1); color: var(--color-1); }
.postprofile-back1 .profile_field:nth-child(3) .postprofile-field-content:after, .postprofile-back1 .profile_field:nth-child(4) .postprofile-field-content:after { display: block; font-size: 8px; margin-top: 2px; text-transform: uppercase; letter-spacing: 1px; color: var(--color-2); }
.postprofile-back1 .profile_field:nth-child(3) .postprofile-field-content:after { content: "Lettres publiées"; }
.postprofile-back1 .profile_field:nth-child(4) .postprofile-field-content:after { content: "Années écoulées"; }
/* - Campos de frases - */
.postprofile-back1 .profile_field:nth-child(2), .postprofile-back1 .profile_field:nth-child(5), .postprofile-back1 .profile_field:nth-child(6) { border: var(--border); height: 44px; margin: 10px 10px 0; width: 100%; display: flex; flex-wrap: wrap; justify-content: center; line-height: 1.4em; align-content: center; text-align: center; text-transform: uppercase; letter-spacing: .5px; }
.postprofile-back1 .profile_field:nth-child(2) .postprofile-field-content, .postprofile-back1 .profile_field:nth-child(5) .postprofile-field-content, .postprofile-back1 .profile_field:nth-child(6) .postprofile-field-content { font: 400 9px var(--t1); }
.postprofile-field-label { font: 800 12px var(--t1); color: var(--color-1); width: 100%; }
.postprofile-field-label span { color: var(--color-1)!important; }

/* - Frase con icono - */
.unreal-postboxi { padding: 20px; }
.unreal-postboxi1, .unreal-postboxi1 img { width: 65px; height: 65px; object-fit: cover; }
.unreal-postboxi1 { padding: 6px; border: var(--border); }
.unreal-postboxi2 { width: 162px; padding-left: 20px; font-size: 10px; text-transform: uppercase; }

/* - Contacto - */
.postprofile-contact { border-bottom: var(--border); border-top: var(--border); padding: 6px 3px; min-height: 59px; margin-bottom: -1px; }
.postprofile-contact a { background: var(--ac-main); border: var(--border); color: var(--color-2)!important; margin: 6px 12px; padding: 8px; font-size: 20px; text-decoration: none!important; height: 25px; width: 25px; }
.postprofile-contact a:hover { background: var(--color-1); color: var(--ac-main)!important; }

/* == spoiler, code and quote == */
blockquote, dl.codebox, .spoiler_content.hidden, dl.codebox code {font: 11px var(--t2); line-height: 1.4em;}
blockquote, dl.codebox { background-color: var(--box-2); border: var(--border); margin: 0 auto!important; overflow: hidden; padding: 10px; }
blockquote cite, dl.codebox dt { background: var(--my-gdt-2); color: var(--box-1)!important; display: block; font: 800 11px var(--t1); letter-spacing: 1px; margin-bottom: 8px; margin-left: -10px; margin-top: -10px; padding: 8px; text-transform: uppercase; width: 101%; }
.codebox dt { margin-bottom: 0!important; }
dl.codebox code { max-height: 100px; overflow: auto; }
dl.codebox.spoiler dt { margin-bottom: -11px!important; }
dl.codebox.hidecode { padding: 12px; }
blockquote div { margin-left: 0; position: relative; }
.spoiler_content.hidden, dl.codebox code, .content blockquote { color: var(--text); }
.spoiler_content.hidden, dl.codebox code { display: block; height: auto; margin: 0; white-space: normal; }
.spoiler_content.hidden { padding-top: 19px; }

/* - Dejar de vigilar este tema - */
.noprint { font: 700 12px / 1 var(--t1); color: var(--color-3); letter-spacing: 1px; text-transform: uppercase; padding: 12px; }

/* ///////////////////////////////////// FIN DE TEMAS ///////////////////////////////////// */

/* ////////////////////////////////////////// CODIGOS VARIOS PARA PERSONALIZAR ////////////////////////////////////////// */

/* -- Transicion en todos los links -- */
a { text-decoration: none!important; -webkit-transition: all 0.5s ease-out; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; }

/* - Tooltip - */
#s-m-t-tooltip { display: block; position: absolute; max-width: 400px; z-index: 999999!important; margin: 14px 14px 7px 12px; padding: 6px 10px; background: var(--ac-main); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: var(--border); font: 600 1.1em / 1em var(--t1); text-transform: uppercase; color: #fff; }

/* - Informaciones - */
#cp-main h1, .h3, h1.page-title { background: var(--box-2); border: var(--border); font: 900 32px / 1.2em var(--t1); margin: 0!important; letter-spacing: 1px; padding: 15px 25px; }
#cp-main h1, .h3, .h3 a, h1.page-title, h1.page-title a { color: var(--color-2)!important; text-transform: uppercase; }

/* -- Selection -- */
::selection { background: var(--color-2); color: #ffffff; }

/* -- Scroll -- */
::-webkit-scrollbar-track { background: var(--color-2); border: 7px solid var(--ac-main); }
::-webkit-scrollbar-thumb { background: var(--color-1); border: 5px solid var(--ac-main); }
::-webkit-scrollbar { width: 15px; background: var(--box-1); }

/* -- Premios -- */
.award_tooltiptext { color: var(--color-1); background: var(--box-3); outline: var(--border); border: 0!important; border-radius: 0!important; text-transform: uppercase; font: 10px / 1.2em var(--t1); padding: 15px 20px!important; min-width: 160px!important; transform: translateY(-53%) translateX(-61px)!important; }
 
/* -- Parte baja del foro -- */
#page-footer ul.linklist { border: var(--border); font: 100 9px calibri; margin-left: -10px; padding: 5px 9px; position: relative; top: -10px; width: 100%; text-transform: uppercase; }
.copyright { color: var(--box-1)!important; margin-bottom: 9px!important; }
p.copyright a { letter-spacing: 2px; font-size: 10px; color: var(--color-3)!important; text-transform: uppercase; }

/* - Botones de posteo - */
.unreal-viewcng { border: var(--border); padding: 6px; margin: 10px 0; } .buttons { width: 70%; }
.un-buttpost { background: var(--my-gdt-2); border: var(--border); box-sizing: border-box; color: var(--box-1)!important; text-transform: uppercase; font: 700 10px var(--t1); height: 30px; margin-right: 6px!important; padding: 5px 7px; width: 120px; }
.un-buttpost i { color: var(--color-3); font-size: 22px; margin-right: 10px; }

/* - Botones del paginado de los temas - */
.pagination { display: inline-block; font: 400 9px var(--t1); text-transform: uppercase; margin: 0; flex-grow: 1; width: 322px; }
.pagination a { color: var(--box-4); }
.pagination span strong { background-color: var(--color-1)!important; color: var(--box-1)!important; }
.pagination span a, .pagination span a:active, .pagination span a:link, .pagination span a:visited, .pagination span strong { background-color: var(--box-2); border: var(--border); color: var(--color-1); font-weight: 400; line-height: 1.5em; margin: 0 2px; padding: 2px 5px; text-decoration: none; }

/* - Botones de previsualizacion - */
a.button1, a.button2, button.button2, input.button, input.button1, input.button2 { background: var(--color-1); border: var(--border)!important; color: #fff!important; font: 600 9px var(--t1); overflow: visible; text-transform: uppercase; padding: 5px 12px!important; width: auto!important; }
fieldset.submit-buttons input { vertical-align: middle; margin-right: 5px; }
fieldset span, fieldset dl:hover dt label { color: var(--text)!important; }

/* - Formularios - */
.inputbox, select { background-color: var(--ac-main); border: var(--border); color: var(--text); }
.inputbox { cursor: text; font: 400 12px calibri; padding: 5px 10px; }
input.tiny, select.tiny { width: 136px!important; margin-right: -5px; }
input.inputbox, select.inputbox { width: 76%; outline: 0; }
textarea.inputbox { width: 85%; outline: 0; }

/* - Editor - */
.sceditor-container { background: var(--box-2)!important; border: var(--border)!important; border-radius: 3px!important; }
.sceditor-toolbar { background: var(--box-3)!important; border-bottom: var(--border)!important; padding: 10px!important; text-align: center; }
.sceditor-group { background: var(--box-2)!important; border-bottom: 0px!important; border-radius: 3px!important; border: 1px solid var(--border)!important; }
a.sceditor-button.sceditor-button-source.hover, .sceditor-button.active, .sceditor-button:active, .sceditor-button:hover { background: var(--color-1)!important; } .sceditor-button, .sceditor-button div { opacity: .9; }
.sceditor-container iframe, .sceditor-container textarea { color: var(--text)!important; }

/* Like, dislike posts */
.unr-likelike { background: var(--box-3); border-top: var(--border); font: 500 11px / 1 var(--t1); position: relative; overflow: hidden; padding: 0 10px 0 20px; height: 50px; width: 100%; }
.fa_like_div { padding: 0; margin: 0; display: flex; flex-wrap: wrap; align-items: center; align-content: center; }
.fa_like_list, .fa_dislike_list, .option_voters_list { background: transparent!important; margin: 0!important; padding: 0!important; }
.rep-button, .rep-button:focus, .rep-button:active { background: var(--my-gdt-1)!important; border: var(--border)!important; box-shadow: none!important; color: var(--box-1); font: 500 9px / 1 var(--t2); padding: 10px 10px 10px 20px; margin: 0 0 0 10px!important; display: flex; flex-wrap: wrap; align-items: center; align-content: center; justify-content: right; }
.rep-button i, .rep-button svg { color: var(--box-1); text-shadow: none!important; }
.fa_like_btt { justify-content: right; width: 253px; position: absolute; right: 8px; } .fa_liked i { color: #4CAF50!important; }

/* - Apariencia del chat - */
.unreal-chatbox #cp-main .panel { margin: 0 20px!important; }
.unreal-chatbox div#cp-main { margin: 0!important; }
.navbar span.corners-bottom, .navbar span.corners-top, .panel span.corners-bottom, .panel span.corners-top, .post span.corners-bottom, .post span.corners-top { display: none!important; }
#chatbox_header { background: var(--my-gdt-1); border-radius: 0; color: #fff!important; font-family: calibri; }
#chatbox_footer { background: var(--my-gdt-2); height: 30px!important; padding-top: 9px!important; }
#chatbox_footer label { color: #fff; font: 10px verdana; }
#message, #submit_button { border: 0; margin-left: 6px!important; margin-top: 0!important; padding: 3px!important; }
#message { background: var(--ac-main)!important; height: 13px!important; width: 276px!important; }
#submit_button { background:var(--my-gdt-1)!important; height: 25px!important; width: auto; background: var(--box-1); border: var(--border); color: #5d5a53; display: inline-block; }
#chatbox_members .member-title { background-color: transparent; border-bottom: var(--border); color: var(--color-1)!important; font: 400 9px Calibri; letter-spacing: 1px; line-height: 100%; margin-top: 0; padding: 6px 0; text-align: center; text-transform: uppercase; }
#chatbox_members ul { list-style: none;line-height: 100%;margin-left: 10px; }
.chatbox_row_1, .chatbox_row_2 { padding: 2px 4px; }
#chatbox .msg { font: 500 11px calibri; line-height: 100%!important; text-align: justify; }
#chatbox_members { border-right: var(--border); bottom: 30px; color: #0a0a0a; overflow: auto; position: absolute; top: 30px; width: 180px; }
.chatbox-title, .chatbox-title a.chat-title { color: #fff!important; font: 900 14px arial; letter-spacing: 2px; padding: 5px; text-transform: uppercase; }
.chatbox-options li, .chatbox-options li a, .chatbox-options li label { color: #fff!important; }

/* Perfiles en edicion */
#tabs { box-sizing: border-box; color: var(--color-3); line-height: 100%; margin: 20px 20px 0!important; text-align: center; }
#tabs ul { display: flex; align-items: center; justify-content: center; }
#tabs li { background: var(--my-gdt-2); border: var(--border); font: 800 9px var(--t1); flex-grow: 1; letter-spacing: .2px; text-align: center; padding: 0; margin: 0 10px; text-transform: uppercase; display: flex; width: 128px; }
#tabs .activetab a span { background-position: 100% 0; color: var(--color-1)!important; padding-bottom: 7px; }
#tabs a span { color: var(--box-1)!important; display: block; float: left; padding: 8px 10px; white-space: nowrap; }
#tabs a { background: 0; cursor: pointer; float: none; font-weight: 700; margin: 0 auto; padding: 0; position: relative; text-decoration: none; }
div#cp-main { box-sizing: content-box; margin: 10px 0; width: 100%; }
#cp-main .panel { margin: 20px!important; }

/* ////////////////////////////////////////// DONT TOUCH CODES ////////////////////////////////////////// */

.flex, .anc-navegacion *, .ac-fheader *, .t-2 clima span, li.header, li.row, .forabg.c-two li.row:nth-child(1) .asfdsc, .a-link, .a-link a, .ac-stadis-3 group, .ac-stadis-3 group *, .memberlist_box *, .postprofile-contact a { display: flex!important; flex-wrap: wrap; }
.block, .t-2 trama span, .forabg.c-two li.row .asfdsc, .actpbt *, .forabg.c-one .asfdsc, .a-desc texto, .a-descR texto, .acpjd datos, .acbsqi a, .ac-stadis-5 last a, .ac-stadis-6 *, .unreal-footer-thing texto * { display: block; }
.acb, .forabg.c-two li.row:nth-child(1) .asfct1, .forabg.c-two li.row:nth-child(1) .asfdsc { align-content: baseline; }
.acc, .anc-navegacion linkear *, li.header, .a-link, .memberlist_box * { align-content: center; }
.aic, .anc-navegacion linkear *, .ac-fheader *, .t-2 clima span, li.header, .a-link, .a-link a, .ac-stadis-3 group, .ac-stadis-3 group *, .memberlist_box *, .postprofile-contact a { align-items: center; }
.jcc, .anc-navegacion linkear *, .ac-fheader *, .t-2 clima span, .a-link, .a-link a, .ac-stadis-3 group *, .postprofile-contact a { justify-content: center; }
.abs, li.header i, .forabg.c-one li.row:nth-child(1) a.forumtitle, .forabg.c-two li.row, .forabg.c-two li.row .asfup, .forabg.c-two li.row .asfct1, .forabg.c-two li.row .asfdsc, .forabg.c-one li.row .a-desc, .forabg.c-one li.row:nth-child(2) .asfup, .forabg.c-one li.row:nth-child(3) .asfup, .forabg.c-two .avt1, .forabg.c-two li.row:nth-child(1) a.forumtitle, .forabg.c-one li.row:nth-child(4) .a-link, .forabg.c-one li.row:nth-child(4) .a-img, .forabg.c-one li.row, .forabg.c-one li.row:nth-child(1) .a-link { position: absolute; }
/* -- Hover -- */
.stf:hover .stfi, .acpjd:hover .acpjdt, .acbsq:hover .acbsqi, .postprofile .postprofile-magic:hover, .postprofile-magic:hover .postprofile-back1 { opacity: 1; }
/* -- Sin espacios -- */
div#postingbox .h3:nth-child(2), .tooltipster-base, li a.mainmenu[href^="/calendar"], li a.mainmenu[href^="/search"], li div#search_menu, li a.mainmenu[href^="/images"], li a.mainmenu[href^="/faq"], #content-container div#left, .anc-navegacion script, .ac-stadis-1 br, .asfup br, .module .h3, .forabg.c-one li.row:nth-child(1) .asfup, .forabg.c-one li.row .avt1, .forabg.c-one li.row .asfct1, .forabg.c-two li.row:nth-child(1) .avt1, p.copyright br, .postprofile-magic br, .profile_field.frase br, .unreal-post2con .postprofile-field-label, .postprofile-back1 .profile_field:nth-child(1) .postprofile-field-label, .unreal-postboxi span, .unreal-postboxi2 .postprofile-field-content br, dl.codebox.hidecode dt { display: none!important; }
.asfdsc, a.forumtitle, .asfup, .avt1, .asfct1, .forabg.c-two li.row:nth-child(4) .asfct1 .topicsf, .forabg.c-two li.row:nth-child(3) .asfct1 .topicsf, .forabg.c-two li.row:nth-child(2) .topicsf { box-sizing: content-box; width: 100%; }
.panel, .post, .unreal-cate .forumbg, .unreal-cate li.header .aibhdt, .forabg { padding: 0!important; }
.content h2, .panel h2 { padding: 10px!important; margin-top: -1px!important; }
/* -- Texto en degradado -- */
.forabg.c-one li.row:nth-child(2) a.forumtitle, .forabg.c-one li.row:nth-child(3) a.forumtitle, .forabg.c-two li.row:nth-child(1) a.forumtitle, .forabg.c-one li.row:nth-child(1) a.forumtitle, .unreal-footer-thing span, .ac-stadis ultimos, .ac-stadis-5 cont strong, .ac-stadis-6 anita, a.actpbt { -webkit-background-clip: text!important; -webkit-text-fill-color: transparent!important; }
/* -- Dont touch. No tocar. -- */
@font-face {font-family:'Muthiara';src:url(https://dl.dropbox.com/s/w7tgq2el3yej01t/Muthiara%20demo%20version.otf) format('opentype');}
.unreal-pri, .t-2 clima, .t-2 clima * { flex-grow: 1; }